body {
  background-color: #fafafa !important;
}

.signup-para {
  font-size: 14px;
}

.form-control {
  background-color: #fafafa !important;
}

.bg-grey {
  background-color: #D9D9D9;
}

.dropdown-width {
  width: 27rem !important;
}